# Folders and files
ustive-gen/learning-spec/
field-exhaustive-gen/alloy/
field-exhaustive-gen/instances/
/target/
bin/
output/
**/.DS_Store

# Eclipse stuff
.project
.classpath
.settings/

# IntelliJ stuff
.idea/
evospex.iml
